h2{
    font-size: 40px;
    color: black;
    font-style: oblique;
}
input{
    font-size: 25px;
    font: outline;
}
label{
    font-size: 25px;
}
button{
    font-size: 20px;
}
table, tr, th, td {
    border: black;
    border-style: solid;
    background-origin: padding-box;
}